@import url(//db.onlinewebfonts.com/c/d2d21cf0ee4c1d969d8a4dccc587ab26?family=Flexo+Medium);
* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}

.topbar {
    width: 100%;
    height: 75px;
    background-color: #f5f5f5;
    display: flex;
}
.containerr{
    width: 62.5%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.one{
    width: 10%;
    height: 97.5%;
    background-color: #fff;
    box-shadow: 0px 0px 7.5px gray;
}
    
.one img{
    position: relative;
    left: 10px;
    top: 12.5px;
}
.two{
    width: 10%;
    height: 100%;
    border-right: 2px solid gainsboro;
}
.two img{
    position: relative;
    left: 12.5px;
    top: 12.5px;
}
.three{
    width: 10%;
    height: 100%;
    border-right: 2px solid gainsboro;
}
.three img{
    position: relative;
    left: 12.5px;
    top: 12.5px;
}
.four{
    width: 22.5%;
    height: 80%;
    position: relative;
    top: 7.5px;
    left: 10px;
    border: 1px solid gainsboro;
}
.five{
    width: 22.5%;
    height: 80%;
    position: relative;
    top: 7.5px;
    left: 17.5px;
    border: 1px solid gainsboro;
}
.six{
    width: 22.5%;
    height: 80%;
    position: relative;
    top: 7.5px;
    left: 25px;
    border: 1px solid gainsboro;
}


.header {
    width: 100%;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 0px 5px gray;
}
.containerrr{
    width: 62.5%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.home{
    width: 15%;
    height: 100%;
}
.home a{
    text-decoration: none;
}
.home i{
    position: relative;
    top: 15px;
    left: 50px;
    color: gray;
    font-size: 30px;
    
}
.home p{
    color: gray;
    position: relative;
    left: -5px;
    top: 15px;
    text-align: center;
    font-family:'Flexo Medium' ;
}
.home1{
    color: gray;
    width: 15%;
    height: 100%;
    text-align: center;
    font-size:20px ;
    border-bottom: 5px solid gray;
}
.home1 a{
    text-decoration: none;
    color: gray;
}
.home1 i{
    position: relative;
    top: 15px;
    left: 1px;
    font-size: 30px;
    
}
.home1 p{
    position: relative;
    left: 2.5px;
    top: 15px;
    font-size: 15px;
}
.bg-img {
    width: 100%;
    height: 100vh;
    background-image: url(../images/body_bg.png);
}

.container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-image: url(../images/container_bg.png);
    background-color: #fff;
}

.boxes {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    background-color: #fff;
}

.box1 {
    width: 60%;
    height: 60%;
    position: relative;
    top: 25px;
    left: 15px;
}

.box2 {
    width: 35%;
    height: 35%;
    position: relative;
    top: -62.5px;
    right: -32.5px;

}

.box3 {
    width: 29.5%;
    height: 30%;
    position: relative;
    top: 35px;
    left: 15px;
}

.box4 {
    width: 29.5%;
    height: 30%;
    position: relative;
    top: 35px;
    left: 25px;
}

.box5 {
    width: 35%;
    height: 35%;
    position: relative;
    top: -340px;
    right: -660px;
}

.box6 {
    width: 35%;
    height: 22.5%;
    position: relative;
    top: -330px;
    right: -660px;

}

.show-inline-block {
    display: inline-block;
}

.bg-img2{
    width: 100%;
    height: 100vh;
    background-image: url(../images/body_bg.png);
}

.footer{
    width: 100%;
    height: 360px;
    background-color: #1f1f1f;
    display: flex;
}
@font-face {
    font-family: "Flexo Medium"; 
    src: url("//db.onlinewebfonts.com/t/d2d21cf0ee4c1d969d8a4dccc587ab26.eot");
}

.divs{
    width: 65%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #1f1f1f;
}
.div1{
    width: 33%;
    height: 100%;
    color: #fff;
    font-family:'Flexo Medium' ;
    font-size: 25px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
    border-right: 2px solid black;
}
.div1 p{
    position: relative;
    top: 45px;
}
.div1 a{
    /* font-family: 'Flexo Medium'; */
    font-family: sans-serif;
    font-family:'Flexo Medium' ;
    font-weight: bold;
    text-decoration: none;
    color: grey;
    font-size: 12.5px;
    text-shadow: none;
}
.div1 i{
    text-decoration: none;
    color: grey;
    font-size: 12.5px;
    text-shadow: none;
    font-weight: bold;
}
.div1 a:hover{
    color: #fff;
    text-shadow: 2px 2px 2px black;
}
.div1 i:hover{
    color: #fff;
    text-shadow: 2px 2px 2px black;
}

.div2{
    width: 33%;
    height: 100%;
    border-right: 2px solid black;
}
.div2 img{
    position: relative;
    top: 50px;
    left: 27.5px;
}

.div3{
    width: 33%;
    height: 100%;
    color: #fff;
    font-family:'Flexo Medium' ;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 5px black;
}
.div3 img{
    position: relative;
    top: 150px;
    left: 50px;
}
.div3 ul li {
    position: relative;
    top: 75px;
    left: 175px;
    list-style: none;
    font-family: sans-serif;
    font-family:'Flexo Medium' ;
    /* font-weight: bold; */
    text-decoration: underline;
    line-height: 25px;
    color: grey;
    font-size: 12.5px;
    text-shadow: none;

}
.div3 p {
    position: relative;
    top: 75px;
    left: 50px;
    list-style: none;
    font-family: sans-serif;
    font-family:'Flexo Medium' ;
    color: grey;
    font-size: 12.5px;
    text-shadow: none;

}
.slider-container{
    width: 100;
    height: 400px;
    background-image: url(../images/body_bg.png);
}
.slider{
    width: 83.75%;
    height: 400px;
    margin: 0 auto;
    background-color: #313131;
    display: flex;
}
.slide1{
    width: 25%;
    height: 100%;
    background-color: #1f1f1f;
    border: 2px solid black;
    opacity: 0.5;
}
.slide1 p{
    color: #fff;
    width: 33%;
    height: 100%;
    color: #fff;
    font-family:'Flexo Medium' ;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
    position: relative;
    top: 25px;
    left: 25px;
}

.slide2{
    width: 25%;
    height: 100%;
    /* background-color: #616161; */
    background-color: #1f1f1f;
    border: 2px solid black;
    opacity: 0.5;
}
.slide2 p{
    color: #fff;
    width: 33%;
    height: 100%;
    color: #fff;
    font-family:'Flexo Medium' ;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
    position: relative;
    top: 25px;
    left: 25px;
}
.slide3{
    width: 25%;
    height: 100%;
    background-color: #1f1f1f;
    border: 2px solid black;
}
.slide3 p{
    color: #fff;
    width: 33%;
    height: 100%;
    color: #fff;
    font-family:'Flexo Medium' ;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
    position: relative;
    top: 25px;
    left: 25px;
}
.slide4{
    width: 25%;
    height: 100%;
    background-color: #1f1f1f;
    border: 2px solid black;
    opacity: 0.5;
}
.slide4 p{
    color: #fff;
    width: 33%;
    height: 100%;
    color: #fff;
    font-family:'Flexo Medium' ;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 2px 2px 2px black;
    position: relative;
    top: 25px;
    left: 25px;
}
/* .slide1-content{
    width: 25%;
    height: 30%;
    background-color: #616161;
    border: 2px solid black;
    position: relative;
    top: 275px;
    left: -1070px;
} */